{% load staticfiles %}
<head>
	<title>Editor</title>
</head>

<body>
	<div id="activeUsers">
	</div>
	<div id="editor">
		<div id="tileSet">
		{% for tile in tiles %}
			<img src="{% static "img/"|add:tile %}" class="tileset-tile"/>
		{% endfor %}
		</div>
		<div id="options">
			<label>Show Grid <input type="checkbox" id="showGridEl" checked/></label>
		</div>
		<div id="canvasContainer">
			<canvas id="editorCanvas">
				Your browser does not support the canvas element, try a different one.
			</canvas>
		</div>
	</div>
	<script src="{% static "js/editor.js" %}"></script>
</body>